<header class="header">
    <div class="logo">
        <img src="assets/images/logo.png">
    </div>
    <div class="mobile-header">
        <label for="check"
               modalToggle="mobile-menu">
            <input type="checkbox"
                   id="check" />
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <div class="header-content">
        <app-menu></app-menu>
        <app-icons-menu></app-icons-menu>
    </div>
</header>

<app-mobile-menu></app-mobile-menu>