@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed:wght@300&family=Teko&display=swap");

.font-1 {
  font-family: "Roboto Condensed", sans-serif;
}

.font-2 {
  font-family: "Teko", sans-serif;
}

.font-3 {
  font-family: "Playfair Display", serif;
}
