<ul class="menu">
    <a class="menu-link">
        <li class="link-content">Nowości</li>
    </a>
    <a class="menu-link">
        <li class="link-content">Kobiety</li>
    </a>
    <a class="menu-link">
        <li class="link-content">Mężczyzni</li>
    </a>
    <a class="menu-link">
        <li class="link-content">Dzieci</li>
    </a>
    <a class="menu-link">
        <li class="link-content">Projektanci</li>
    </a>
    <a class="menu-link important">
        <li class="link-content">SALE</li>
    </a>
</ul>