@use "src/global/colors";

.modal-wrapper {
  padding: 20% 0;
  overflow-y: auto;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 3;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: colors.$white;
  border-left: 1px solid colors.$black;
  transform: translate(0);
  transition: transform 0.2s ease-in-out;
  &.hidden {
    transform: translate(100%);
  }
}
